.reply-box-no-focus:focus{
    
    border-style: none none solid none;
    outline-style: none;
    box-shadow: none;
  
}

.reply-box-no-focus{
    margin-left: 10px;
    border-style: none none solid none;
}